# Use this notebook for your 3 choices of APIs

### Working-With-APIs

In this lab you will choose 3 APIs from the list in the GitHub Repo

Create a dataframe of the available data and think of a project that you could do with that data.

Submit your notebook's repo link in the Student Portal.

In [1]:
# Importing libraries:

import pandas as pd
import requests
import json

API 1: Fruityvice // Data about all kinds of fruit

In [2]:
# Requesting response:

fruits = response = requests.get('https://www.fruityvice.com/api/fruit/all')
print("Fruits:", fruits.status_code)

Fruits: 200

In [3]:
# Retrieving json content from the API:

fruits_data = response.json()

# fruits_data

In [4]:
# Creating the df:

data = pd.DataFrame(fruits_data)

data.head(10)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."

In [5]:
# Expanding nested elements into separate columns with a function:

def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [6]:
# Calling the function:

nested_columns = ['nutritions']

flat = flatten(data, nested_columns)

flat

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81.0,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29.0,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96.0,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74.0,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57.0,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147.0,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40.0,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50.0,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61.0,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66.0,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50.0,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74.0,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44.0,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97.0,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46.0,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43.0,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21.0,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53.0,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30.0,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29.0,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60.0,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29.0,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52.0,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68.0,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15.0,0.10,3.20,3.90,0.50
25,Papaya,42,Caricaceae,Caricacea,Carica,43.0,0.40,1.00,11.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34.0,0.00,8.00,8.00,0.00
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45.0,0.40,9.10,8.30,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36.0,0.40,3.00,7.00,1.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25.0,0.10,1.70,8.40,0.30
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83.0,1.20,13.70,18.70,1.70
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60.0,1.50,8.00,9.00,9.00
32,Grape,81,Vitaceae,Vitales,Vitis,69.0,0.16,16.00,18.10,0.72
33,Morus,82,Moraceae,Rosales,Morus,43.0,0.39,8.10,9.80,1.44
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44.0,0.40,3.00,8.00,0.60
35,Avocado,84,Lauraceae,Laurales,Persea,160.0,14.66,0.66,8.53,2.00
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61.0,0.50,8.90,14.60,1.14
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46.0,0.10,4.00,12.20,0.40
38,Cherry,9,Rosaceae,Rosales,Prunus,50.0,0.30,8.00,12.00,1.00
39,Peach,86,Rosaceae,Rosales,Prunus,39.0,0.25,8.40,9.50,0.90
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95.0,0.00,19.10,23.20,1.72
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44.0,1.26,0.50,7.56,1.78
42,Hazelnut,96,Betulaceae,Fagales,Corylus,628.0,61.00,4.30,17.00,15.00
43,Pomelo,98,Rutaceae,Sapindales,Citrus,37.0,0.00,8.50,9.67,0.82
44,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73.0,0.58,16.11,17.91,0.41

API 1: Think of a project that you could do with that data

In [7]:
# Data Visualization for Fruit Characteristics: visualizations like histograms, or heatmaps to represent 
# nutritional components across various fruits, making it easy to identify trends or commonalities.

# Example: Top 10 and lowest 10 for each category

top_10_calories = flat.nlargest(10, 'nutritions_calories')
lowest_10_calories = flat.nsmallest(10, 'nutritions_calories')

top_10_fat = flat.nlargest(10, 'nutritions_fat')
lowest_10_fat = flat.nsmallest(10, 'nutritions_fat')

top_10_sugar = flat.nlargest(10, 'nutritions_sugar')
lowest_10_sugar = flat.nsmallest(10, 'nutritions_sugar')

top_10_carbohydrates = flat.nlargest(10, 'nutritions_carbohydrates')
lowest_10_carbohydrates = flat.nsmallest(10, 'nutritions_carbohydrates')

top_10_protein = flat.nlargest(10, 'nutritions_protein')
lowest_10_protein = flat.nsmallest(10, 'nutritions_protein')

In [8]:
display(top_10_calories)
display(lowest_10_calories)

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
42,Hazelnut,96,Betulaceae,Fagales,Corylus,628.0,61.00,4.30,17.00,15.00
35,Avocado,84,Lauraceae,Laurales,Persea,160.0,14.66,0.66,8.53,2.00
5,Durian,60,Malvaceae,Malvales,Durio,147.0,5.30,6.75,27.10,1.50
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97.0,0.70,11.20,22.40,2.20
2,Banana,1,Musaceae,Zingiberales,Musa,96.0,0.20,17.20,22.00,1.00
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95.0,0.00,19.10,23.20,1.72
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83.0,1.20,13.70,18.70,1.70
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81.0,0.00,18.00,18.00,0.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74.0,0.20,2.60,3.90,0.90
11,Fig,68,Moraceae,Rosales,Ficus,74.0,0.30,16.00,19.00,0.80

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
24,Apricot,35,Rosaceae,Rosales,Prunus,15.0,0.1,3.2,3.90,0.50
16,GreenApple,72,Rosaceae,Rosales,Malus,21.0,0.1,6.4,3.10,0.40
29,Lime,44,Rutaceae,Sapindales,Citrus,25.0,0.1,1.7,8.40,0.30
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29.0,0.4,5.4,5.50,0.80
19,Lemon,26,Rutaceae,Sapindales,Citrus,29.0,0.3,2.5,9.00,1.10
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29.0,0.4,5.4,5.50,0.00
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30.0,0.2,6.0,8.00,0.60
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34.0,0.0,8.0,8.00,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36.0,0.4,3.0,7.00,1.00
43,Pomelo,98,Rutaceae,Sapindales,Citrus,37.0,0.0,8.5,9.67,0.82

In [9]:
display(top_10_fat)
display(lowest_10_fat)

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
42,Hazelnut,96,Betulaceae,Fagales,Corylus,628.0,61.00,4.30,17.00,15.00
35,Avocado,84,Lauraceae,Laurales,Persea,160.0,14.66,0.66,8.53,2.00
5,Durian,60,Malvaceae,Malvales,Durio,147.0,5.30,6.75,27.10,1.50
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60.0,1.50,8.00,9.00,9.00
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44.0,1.26,0.50,7.56,1.78
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83.0,1.20,13.70,18.70,1.70
23,Guava,37,Myrtaceae,Myrtales,Psidium,68.0,1.00,9.00,14.00,2.60
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97.0,0.70,11.20,22.40,2.20
17,Raspberry,23,Rosaceae,Rosales,Rubus,53.0,0.70,4.40,12.00,1.20
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44.0,0.60,0.00,10.00,0.90

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81.0,0.00,18.00,18.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34.0,0.00,8.00,8.00,0.00
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95.0,0.00,19.10,23.20,1.72
43,Pomelo,98,Rutaceae,Sapindales,Citrus,37.0,0.00,8.50,9.67,0.82
4,Pear,4,Rosaceae,Rosales,Pyrus,57.0,0.10,10.00,15.00,0.40
16,GreenApple,72,Rosaceae,Rosales,Malus,21.0,0.10,6.40,3.10,0.40
24,Apricot,35,Rosaceae,Rosales,Prunus,15.0,0.10,3.20,3.90,0.50
29,Lime,44,Rutaceae,Sapindales,Citrus,25.0,0.10,1.70,8.40,0.30
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46.0,0.10,4.00,12.20,0.40
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50.0,0.12,9.85,13.12,0.54

In [10]:
display(top_10_sugar)
display(lowest_10_sugar)

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95.0,0.00,19.10,23.20,1.72
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81.0,0.00,18.00,18.00,0.00
2,Banana,1,Musaceae,Zingiberales,Musa,96.0,0.20,17.20,22.00,1.00
44,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73.0,0.58,16.11,17.91,0.41
11,Fig,68,Moraceae,Rosales,Ficus,74.0,0.30,16.00,19.00,0.80
32,Grape,81,Vitaceae,Vitales,Vitis,69.0,0.16,16.00,18.10,0.72
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66.0,0.44,15.00,17.00,0.80
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60.0,0.38,13.70,15.00,0.82
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83.0,1.20,13.70,18.70,1.70
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97.0,0.70,11.20,22.40,2.20

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44.0,0.60,0.00,10.00,0.90
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44.0,1.26,0.50,7.56,1.78
35,Avocado,84,Lauraceae,Laurales,Persea,160.0,14.66,0.66,8.53,2.00
25,Papaya,42,Caricaceae,Caricacea,Carica,43.0,0.40,1.00,11.00,0.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25.0,0.10,1.70,8.40,0.30
19,Lemon,26,Rutaceae,Sapindales,Citrus,29.0,0.30,2.50,9.00,1.10
3,Tomato,5,Solanaceae,Solanales,Solanum,74.0,0.20,2.60,3.90,0.90
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36.0,0.40,3.00,7.00,1.00
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44.0,0.40,3.00,8.00,0.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15.0,0.10,3.20,3.90,0.50

In [11]:
display(top_10_carbohydrates)
display(lowest_10_carbohydrates)

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
5,Durian,60,Malvaceae,Malvales,Durio,147.0,5.30,6.75,27.10,1.50
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95.0,0.00,19.10,23.20,1.72
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97.0,0.70,11.20,22.40,2.20
2,Banana,1,Musaceae,Zingiberales,Musa,96.0,0.20,17.20,22.00,1.00
11,Fig,68,Moraceae,Rosales,Ficus,74.0,0.30,16.00,19.00,0.80
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83.0,1.20,13.70,18.70,1.70
32,Grape,81,Vitaceae,Vitales,Vitis,69.0,0.16,16.00,18.10,0.72
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81.0,0.00,18.00,18.00,0.00
44,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73.0,0.58,16.11,17.91,0.41
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66.0,0.44,15.00,17.00,0.80

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
16,GreenApple,72,Rosaceae,Rosales,Malus,21.0,0.10,6.4,3.10,0.40
3,Tomato,5,Solanaceae,Solanales,Solanum,74.0,0.20,2.6,3.90,0.90
24,Apricot,35,Rosaceae,Rosales,Prunus,15.0,0.10,3.2,3.90,0.50
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29.0,0.40,5.4,5.50,0.80
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29.0,0.40,5.4,5.50,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36.0,0.40,3.0,7.00,1.00
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44.0,1.26,0.5,7.56,1.78
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30.0,0.20,6.0,8.00,0.60
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34.0,0.00,8.0,8.00,0.00
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44.0,0.40,3.0,8.00,0.60

In [12]:
display(top_10_protein)
display(lowest_10_protein)

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
42,Hazelnut,96,Betulaceae,Fagales,Corylus,628.0,61.00,4.30,17.00,15.00
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60.0,1.50,8.00,9.00,9.00
23,Guava,37,Myrtaceae,Myrtales,Psidium,68.0,1.00,9.00,14.00,2.60
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97.0,0.70,11.20,22.40,2.20
35,Avocado,84,Lauraceae,Laurales,Persea,160.0,14.66,0.66,8.53,2.00
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44.0,1.26,0.50,7.56,1.78
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95.0,0.00,19.10,23.20,1.72
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83.0,1.20,13.70,18.70,1.70
5,Durian,60,Malvaceae,Malvales,Durio,147.0,5.30,6.75,27.10,1.50
33,Morus,82,Moraceae,Rosales,Morus,43.0,0.39,8.10,9.80,1.44

,name,id,family,order,genus,nutritions_calories,nutritions_fat,nutritions_sugar,nutritions_carbohydrates,nutritions_protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81.0,0.0,18.0,18.0,0.0
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29.0,0.4,5.4,5.5,0.0
25,Papaya,42,Caricaceae,Caricacea,Carica,43.0,0.4,1.0,11.0,0.0
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34.0,0.0,8.0,8.0,0.0
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45.0,0.4,9.1,8.3,0.0
22,Apple,6,Rosaceae,Rosales,Malus,52.0,0.4,10.3,11.4,0.3
29,Lime,44,Rutaceae,Sapindales,Citrus,25.0,0.1,1.7,8.4,0.3
4,Pear,4,Rosaceae,Rosales,Pyrus,57.0,0.1,10.0,15.0,0.4
16,GreenApple,72,Rosaceae,Rosales,Malus,21.0,0.1,6.4,3.1,0.4
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46.0,0.1,4.0,12.2,0.4

----------------

API 2: City Bikes // City Bikes around the world

In [13]:
# Requesting response:

city_bikes = response = requests.get('http://api.citybik.es/v2/networks')
print("City_bikes:", city_bikes.status_code)

City_bikes: 200

In [14]:
# Retrieving json content from the API:

city_bikes_data = response.json()

# city_bikes_data

In [15]:
# Creating df:

data1 = pd.DataFrame(city_bikes_data)

data1.head(10)

                                            networks
0  {'company': ['ЗАО «СитиБайк»'], 'href': '/v2/n...
1  {'company': ['Urban Infrastructure Partner'], ...
2  {'company': ['Comunicare S.r.l.'], 'href': '/v...
3  {'company': ['Cyclopolis Systems'], 'href': '/...
4  {'company': ['Cyclopolis Systems'], 'href': '/...
5  {'company': ['Comunicare S.r.l.'], 'href': '/v...
6  {'company': ['Cyclopolis Systems'], 'href': '/...
7  {'company': ['Cyclopolis Systems'], 'href': '/...
8  {'company': ['Comunicare S.r.l.'], 'href': '/v...
9  {'company': ['Cyclopolis Systems'], 'href': '/...

In [16]:
# Calling the function:

nested_columns1 = ['networks']

flat1 = flatten(data1, nested_columns1)

flat1

,networks_company,networks_href,networks_id,networks_location,networks_name,networks_source,networks_gbfs_href,networks_license,networks_ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,"{'city': 'Moscow', 'country': 'RU', 'latitude'...",Velobike,NaN,NaN,NaN,NaN
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,"{'city': 'Bærum', 'country': 'NO', 'latitude':...",Bysykkel,NaN,NaN,NaN,NaN
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,"{'city': 'Siena', 'country': 'IT', 'latitude':...",Bicincittà,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,"{'city': 'Maroussi', 'country': 'GR', 'latitud...",Cyclopolis,NaN,NaN,NaN,NaN
4,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,"{'city': 'Nafplio', 'country': 'GR', 'latitude...",Cyclopolis,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
672,[Ecovelo],/v2/networks/velodaqui,velodaqui,"{'city': 'Argelès-sur-Mer', 'country': 'FR', '...",Vélos d’Aquí,NaN,https://api.gbfs.v1.ecovelo.mobi/gbfs/velodaqui,NaN,True
673,None,/v2/networks/enlabici-mendoza,enlabici-mendoza,"{'city': 'Mendoza', 'country': 'AR', 'latitude...",En la Bici,NaN,NaN,NaN,NaN
674,[Mobhis Automação Urbana],/v2/networks/passofundo,passofundo,"{'city': 'Passo Fundo', 'country': 'BR', 'lati...",Passo Fundo Vai de Bici,NaN,NaN,NaN,NaN
675,[Mobhis Automação Urbana],/v2/networks/cascavel,cascavel,"{'city': 'Cascavel', 'country': 'BR', 'latitud...",Cascavel Vai de Bici,NaN,NaN,NaN,NaN
676,[Communauté d'Agglomération de La Rochelle],/v2/networks/yelo-velo,yelo-velo,"{'city': 'La Rochelle', 'country': 'FR', 'lati...",Yélo Vélo,NaN,NaN,"{'name': 'Licence Ouverte', 'url': 'https://ww...",NaN

In [17]:
# Cleaning df:

columns_to_drop = ['networks_source', 'networks_gbfs_href', 'networks_license', 'networks_ebikes']
flat1 = flat1.drop(columns=columns_to_drop)

In [18]:
flat1

,networks_company,networks_href,networks_id,networks_location,networks_name
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,"{'city': 'Moscow', 'country': 'RU', 'latitude'...",Velobike
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,"{'city': 'Bærum', 'country': 'NO', 'latitude':...",Bysykkel
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,"{'city': 'Siena', 'country': 'IT', 'latitude':...",Bicincittà
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,"{'city': 'Maroussi', 'country': 'GR', 'latitud...",Cyclopolis
4,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,"{'city': 'Nafplio', 'country': 'GR', 'latitude...",Cyclopolis
...,...,...,...,...,...
672,[Ecovelo],/v2/networks/velodaqui,velodaqui,"{'city': 'Argelès-sur-Mer', 'country': 'FR', '...",Vélos d’Aquí
673,None,/v2/networks/enlabici-mendoza,enlabici-mendoza,"{'city': 'Mendoza', 'country': 'AR', 'latitude...",En la Bici
674,[Mobhis Automação Urbana],/v2/networks/passofundo,passofundo,"{'city': 'Passo Fundo', 'country': 'BR', 'lati...",Passo Fundo Vai de Bici
675,[Mobhis Automação Urbana],/v2/networks/cascavel,cascavel,"{'city': 'Cascavel', 'country': 'BR', 'latitud...",Cascavel Vai de Bici
676,[Communauté d'Agglomération de La Rochelle],/v2/networks/yelo-velo,yelo-velo,"{'city': 'La Rochelle', 'country': 'FR', 'lati...",Yélo Vélo

In [19]:
# Calling the function again:

nested_columns2 = ['networks_location']

flat1 = flatten(flat1, nested_columns2)

flat1

,networks_company,networks_href,networks_id,networks_name,networks_location_city,networks_location_country,networks_location_latitude,networks_location_longitude
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.75,37.616667
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,Bysykkel,Bærum,NO,59.89455,10.546343
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,Bicincittà,Siena,IT,43.3186,11.3306
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,Cyclopolis,Maroussi,GR,38.056872,23.80833
4,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,Cyclopolis,Nafplio,GR,37.56394,22.80934
...,...,...,...,...,...,...,...,...
672,[Ecovelo],/v2/networks/velodaqui,velodaqui,Vélos d’Aquí,Argelès-sur-Mer,FR,42.5449,3.0235
673,None,/v2/networks/enlabici-mendoza,enlabici-mendoza,En la Bici,Mendoza,AR,-32.8895,-68.8433
674,[Mobhis Automação Urbana],/v2/networks/passofundo,passofundo,Passo Fundo Vai de Bici,Passo Fundo,BR,-28.2555,-52.3981
675,[Mobhis Automação Urbana],/v2/networks/cascavel,cascavel,Cascavel Vai de Bici,Cascavel,BR,-24.9558,-53.4566
676,[Communauté d'Agglomération de La Rochelle],/v2/networks/yelo-velo,yelo-velo,Yélo Vélo,La Rochelle,FR,46.1591,-1.1509

API 2: Think of a project that you could do with that data

In [20]:
# Bike Network Analytics Dashboard: interactive dashboard displaying various metrics such as the number of bike 
# networks in different countries, the distribution of networks across cities, or statistics on the most and 
# least utilized networks.


#Example: max and min companies, counts

country_counts = flat1['networks_location_country'].value_counts()

most_companies_country = country_counts.idxmax()
most_companies_count = country_counts.max()


least_companies_country = country_counts.idxmin()
least_companies_count = country_counts.min()

print(f"Country with the most companies: {most_companies_country} ({most_companies_count} companies)")
print(f"Country with the least companies: {least_companies_country} ({least_companies_count} companies)")

Country with the most companies: IT (129 companies)
Country with the least companies: MC (1 companies)

-------------

API 3: CoinStats // Crypto Tracker

In [21]:
# Requesting response:

crypto_tracker = response = requests.get('https://api.coinstats.app/public/v1/coins?skip=0&limit=5&currency=EUR')
print("crypto_tracker:", crypto_tracker.status_code)

crypto_tracker: 200

In [22]:
# Retrieving json content from the API:

crypto_tracker_data = response.json()

# crypto_tracker_data

In [23]:
# Creating df:

data2 = pd.DataFrame(crypto_tracker_data)

data2.head(10)

,coins,warning
0,"{'id': 'bitcoin', 'icon': 'https://static.coin...",This API is deprecated and will be disabled by...
1,"{'id': 'ethereum', 'icon': 'https://static.coi...",This API is deprecated and will be disabled by...
2,"{'id': 'tether', 'icon': 'https://static.coins...",This API is deprecated and will be disabled by...
3,"{'id': 'binance-coin', 'icon': 'https://static...",This API is deprecated and will be disabled by...
4,"{'id': 'ripple', 'icon': 'https://static.coins...",This API is deprecated and will be disabled by...

In [24]:
# Calling the function:

nested_columns3 = ['coins']

flat2 = flatten(data2, nested_columns3)

flat2

,warning,coins_id,coins_icon,coins_name,coins_symbol,coins_rank,coins_price,coins_priceBtc,coins_volume,coins_marketCap,coins_availableSupply,coins_totalSupply,coins_priceChange1h,coins_priceChange1d,coins_priceChange1w,coins_websiteUrl,coins_twitterUrl,coins_exp,coins_contractAddress,coins_decimals
0,This API is deprecated and will be disabled by...,bitcoin,https://static.coinstats.app/coins/16504555888...,Bitcoin,BTC,1,33764.979612,1,26631941761.839874,660069459234.110352,19548937,21000000,-1.32,-1.44,2.22,http://www.bitcoin.org,https://twitter.com/bitcoin,"[https://blockchair.com/bitcoin/, https://btc....",NaN,NaN
1,This API is deprecated and will be disabled by...,ethereum,https://static.coinstats.app/coins/16504556297...,Ethereum,ETH,2,1803.095871,0.053419,15380801479.604538,216824081560.476105,120251000,120251000,-1.82,-3.56,-2.76,https://www.ethereum.org/,https://twitter.com/ethereum,"[https://etherscan.io/, https://ethplorer.io/,...",0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18
2,This API is deprecated and will be disabled by...,tether,https://static.coinstats.app/coins/16504557718...,Tether,USDT,3,0.922079,0.000027,33250118302.645687,81167907032.778824,88027089861,88027089861,0.15,-0.08,0.07,https://tether.to/,https://twitter.com/Tether_to,[https://etherscan.io/token/0xdac17f958d2ee523...,0xdac17f958d2ee523a2206206994597c13d831ec7,18
3,This API is deprecated and will be disabled by...,binance-coin,https://static.coinstats.app/coins/16666081453...,BNB,BNB,4,218.210212,0.006465,4891545590.745571,33572983124.766869,153856150,153856150,-7.36,-7.04,-1.93,https://www.binance.com,https://twitter.com/binance,"[https://bscscan.com, https://explorer.binance...",BNB,18
4,This API is deprecated and will be disabled by...,ripple,https://static.coinstats.app/coins/XRPdnqGJ.png,XRP,XRP,5,0.539761,0.000016,836039367.307279,28995026399.549397,53718306475,99988221902,-2.45,-4.73,-9.15,https://ripple.com/currency/,https://twitter.com/Ripple,"[https://blockchair.com/ripple, https://xrpcha...",0x1d2f0da169ceb9fc7b3144628db156f3f6c60dbe,18

In [25]:
# Cleaning df:

columns_to_drop = ['warning', 'coins_icon', 'coins_websiteUrl', 'coins_twitterUrl', 'coins_exp', 'coins_contractAddress', 'coins_decimals']
flat2 = flat2.drop(columns=columns_to_drop)

In [26]:
flat2

,coins_id,coins_name,coins_symbol,coins_rank,coins_price,coins_priceBtc,coins_volume,coins_marketCap,coins_availableSupply,coins_totalSupply,coins_priceChange1h,coins_priceChange1d,coins_priceChange1w
0,bitcoin,Bitcoin,BTC,1,33764.979612,1,26631941761.839874,660069459234.110352,19548937,21000000,-1.32,-1.44,2.22
1,ethereum,Ethereum,ETH,2,1803.095871,0.053419,15380801479.604538,216824081560.476105,120251000,120251000,-1.82,-3.56,-2.76
2,tether,Tether,USDT,3,0.922079,0.000027,33250118302.645687,81167907032.778824,88027089861,88027089861,0.15,-0.08,0.07
3,binance-coin,BNB,BNB,4,218.210212,0.006465,4891545590.745571,33572983124.766869,153856150,153856150,-7.36,-7.04,-1.93
4,ripple,XRP,XRP,5,0.539761,0.000016,836039367.307279,28995026399.549397,53718306475,99988221902,-2.45,-4.73,-9.15

API 3: Think of a project that you could do with that data

In [27]:
# Prediction Model: machine learning models to predict future price movements based on historical data.

# Example historical data:

average_prices = flat2.groupby('coins_name')['coins_price'].mean().sort_values()

min_avg_price_coin = average_prices.idxmin()
min_avg_price = average_prices.min()

max_avg_price_coin = average_prices.idxmax()
max_avg_price = average_prices.max()

print(f"Coin with the minimum average price: {min_avg_price_coin} (${min_avg_price:.2f})")
print(f"Coin with the maximum average price: {max_avg_price_coin} (${max_avg_price:.2f})")

Coin with the minimum average price: XRP ($0.54)
Coin with the maximum average price: Bitcoin ($33764.98)